body{
    background-color: rgb(214, 209, 188);
}

nav{
    color:rgb(179, 179, 179) ;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 55%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
}

nav ul{
    display: table;
    list-style: none;
    border: 2px solid rgb(61, 61, 61, 61);
    border-radius: 20px;
    padding: 0;
}

nav li{
    display: table-cell;
    width: 0.5%;
}

nav li a{
    display: block;
    color:rgb(156, 156, 156);
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 40px;
    padding: 0 30px;
}

nav li a:hover{
    color: rgb(184, 228, 104);
}

nav li + li:before {
    content: "|";
    float: left;
    width: 2px;
    line-height: 40px;
    color: rgb(49, 49, 49);
    background-color: rgb(61, 61, 61);
}

/* nav{
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

nav ul{
    display: table;
    list-style: none;
    border: 2px solid rgb(133, 113, 78);
    background-color: rgb(189, 173, 148);
    border-radius: 20px;
    width :auto
}
nav li{
    display: table-cell;
    width: 1%;
}
nav li a{
    display: block;
    color:rgb(105, 90, 63);
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 40px;
    padding: 0 10px
}
nav li a:hover{
    color: rgb(235, 225, 210);
}
nav li + li:before {
    content: "|";
    float: left;
    width: 2px;
    line-height: 40px;
    color: rgb(133, 113, 78);
    background-color: rgb(133, 113, 78);
} */

header{
    border: 1px solid rgb(189, 172, 125);
    background-color: rgb(189, 173, 148);
}
h1{
    text-align: center;
    color:rgb(99, 81, 52)
}

section{
    background-color: rgb(245, 230, 207);
    text-align: justify;
    color: rgb(99, 81, 52);
}

h2{
    text-align: center;
    color:rgb(70, 58, 41)
}

h3{
    color:rgb(70, 58, 41);
}

table, th, td{
    border: 1px solid black;
    margin:auto;
}

div{
    text-align: center;
}

div a{
    text-decoration: none;
    color: rgb(197, 112, 14);
    
}

ul{
    list-style-type: none;
    margin: auto;
}

footer{
    text-align: center;
    align-items: flex-end;

}