body{
    background-color: rgb(226, 218, 194);
}

nav ul{
    display: table;
    list-style: none;
    border: 2px solid rgb(133, 113, 78);
    border-radius: 5px;
    padding: 0;
}
nav li{
    display: table-cell;
    width: 1%;
}
nav li a{
    display: block;
    color:rgb(105, 90, 63);
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}
nav li a:hover{
    color: rgb(235, 225, 210);
    background-color: rgb(189, 173, 148);
}
nav li + li::before {
    content: "|";
    float: left;
    width: 2px;
    line-height: 40px;
    color: rgb(133, 113, 78);
    background-color: rgb(133, 113, 78);
}

header{
    border: 1px solid rgb(189, 172, 125);
    background-color: rgb(189, 173, 148);
}
h1{
    text-align: center;
    color:rgb(99, 81, 52)
}

section{
    background-color: rgb(245, 230, 207);
    text-align: justify;
    color: rgb(99, 81, 52);
}

h2{
    text-align: center;
    color:rgb(70, 58, 41)
}

h3{
    color:rgb(70, 58, 41);
}

table, th, td{
    border: 1px solid black;
    margin:auto;
}

div{
    text-align: center;
}

div a{
    text-decoration: none;
    color: rgb(197, 112, 14);
}

ul{
    list-style-type: none;
    margin: auto;
}

footer{
    text-align: center;
    align-items: flex-end;

}