body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(41, 41, 41);
    margin-left: auto;
    margin-right: auto;
    padding: 0% 0% 0% 0%;
    border-bottom: 8px solid rgb(184, 228, 104);
}

.main-title{
    float: left;
    padding-top: 1%;
    padding-left: 8%;
    line-height: 1.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub-title{
    float: left;
    padding-top: 2.7%;
    padding-left: 0%;
    line-height: 1.5%;
    margin-left: -4%;
    color: rgb(133, 150, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.current-page{
    color:rgb(184, 228, 104);
}

nav{
    color:rgb(179, 179, 179) ;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 55%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
}

nav ul{
    display: table;
    list-style: none;
    border: 2px solid rgb(61, 61, 61, 61);
    border-radius: 20px;
    padding: 0;
}

nav li{
    display: table-cell;
    width: 0.5%;
}

nav li a{
    display: block;
    color:rgb(156, 156, 156);
    text-decoration: none;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 40px;
    padding: 0 30px;
}

nav li a:hover{
    color: rgb(184, 228, 104);
}

nav li + li:before {
    content: "|";
    float: left;
    width: 2px;
    line-height: 40px;
    color: rgb(49, 49, 49);
    background-color: rgb(61, 61, 61);
}

#first{
    background-color: rgb(61, 61, 61);
    padding:  3% 3% 3% 3%;
}

div{
    margin-top: 0%;
    margin-bottom: 0%;

}

.image{
    border: 10px solid whitesmoke;
    margin-left: 70%;
}

#txt1{
    text-align: left ;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
    margin-right: 8%;
}

h1{
    color: whitesmoke;
    font-size: 35px;
}

.par1{
    color: rgb(133, 150, 136);
    font-size: 20px;
}

.button{
    background-color:rgb(184, 228, 104) ;
    color: black;
    border-radius: 6px;
    width: 20%;
    height: 15%;
    font-size: 18px;
    font-weight: bold;
}

.orga{
    width: 100% ;
}

#main{
    margin-left: 8%;
    float: left;
    margin-right: 10%;
    margin-top: 2%;
}


.main-list{
    list-style-type: square ;
}

.par2{
    border-top:2px solid rgb(184, 228, 104) ;
    padding-top: 4%;
    margin-right: 35%;
}

.welcome{
    text-decoration: none;
    color: black;
    border-bottom: 4px solid rgb(184, 228, 104); 
    padding-bottom: 22px;
}



.par4{
    padding-left: 1.5%;
    border-left: 8px solid rgb(184, 228, 104);
}

aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 5%;
    float: right;
}

.latest-n{
    background-color: rgb(61, 61, 61);
    color: whitesmoke;
    height: 50px;
    padding-top: 5%;
    padding-left: 2%;
    border-bottom: 2px solid rgb(214, 214, 214);
}



.news1{
    background-color:rgb(226, 226, 226) ;
    height: 20%;
    border-top: 2px solid rgb(214, 214, 214);
    border-collapse: collapse ;
    margin-top: -5%;
    padding-bottom: 2%;
}

.news2{
    background-color:rgb(202, 202, 202) ;
    height: 20%;
    border-top: 2px solid rgb(214, 214, 214);
    border-collapse: collapse ;
    margin-top: -5%;
    padding-bottom: 2%;
}

.news3{
    background-color:rgb(226, 226, 226) ;
    height: 20%;
    border-top: 2px solid rgb(214, 214, 214);
    border-bottom: 2px solid rgb(214, 214, 214);
    border-collapse: collapse ;
    margin-top: -5%;
    padding-bottom: 0.2%;
}

.first-icon{
    margin-left: 4%;
    margin-right: 2%;
    float: left;
    border: 4px solid whitesmoke;
}

.date{
    color: rgb(156, 156, 156);
    font-size: 14px;
    line-height: 2px;
    margin-left: 24%;
}

.article-title{
    line-height: 2px;
    margin-left: 24%;
    margin-bottom: 2%;
}

.mini-par{
    margin-top: 8%;
    margin-left: 22%;
    margin-bottom: 10%;
}

footer{
    background-color: rgb(41, 41, 41);
    border-top: 8px solid rgb(184, 228, 104);
    margin-top: 37%;
}

.tb-ft{
    margin: auto;
    width: 70%;
    padding-top: 2%;
}

.cat{
    color: whitesmoke;
    text-align: left;
    border: 1px solid  rgb(31, 31, 31);
    border-radius: 10px;
    background-color:  rgb(39, 39, 39);
    letter-spacing: 1.5px;
    height: 25px;
}

.sub-cat{
    color:rgb(148, 151, 149);
    text-align: left;
}

footer p{
    color: rgb(99, 99, 99);
    padding-left: 15%;
    padding-bottom: 1% ;
}
